.form .hero {
  @media (max-width:700px) {
    display: block;
    
  }
}
.hero {
}
.map {
  flex: 1 1 50%;
  @media (max-width:700px) {
    height: 300px;
  }
}
.form__map {
height: 100%;
width: 100%;
}
.map {
}
.hero__content {
}
.hero__title.next {
  font-size: 25px;
  letter-spacing: 2.5px;
  line-height: 100%;
  font-weight: 400;
  margin-bottom: 25px;
}
.next {
}
.hero__form {
  display: block;

  & input,
  & textarea {
    width: 100%;
    border: 2px solid #959595;
background-color: #252525;
padding: 18px;
margin-bottom: 25px;
color: #fff;
font-size: 15px;
line-height:calc(25/15*100%);

  }
  & textarea {
    height: 150px;
    overflow: auto;
    resize: none;
  }
}
.hero__buttons {
}
.hero__button {
}
.active {
}