.menu {
}
.container {
}
.menu__group {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding: 75px 15px;
}
.menu__list {
}
.menu__link {
}
.menu__img {
  width: 100%;
}
.menu__content {
  flex: 1 1 auto;
}
.menu__title {
}
.menu__text {
}
.menu__button {
}
.menu__view {
}